:root {
    --background-color: #eb7734;
    --text-color: #181c29;
    --pokemon-button-color: #5a28ed;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}   

/* .page-header {
    display: flex;
    width: 100%;
    padding: 20px;
} */

.page-header a {
    font-size: 300%;
    margin: 20px;
    /* text-align: center; */
}

/* .pokemon-list {
    list-style-type: none;
} */

.pokemon-button {
    /* text-decoration: none;
    display: inline-block; */
    background-color: var(--pokemon-button-color);
    color: var(--background-color);
    width: 200px;
    /* padding: 30px; */
    font-size: 20px;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* to show above other content*/
    z-index: 999;
    /* to allow scrolling */
    overflow: auto;
    /* center modal */
    display: grid;
    text-align: center;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5px;
    background: var(--pokemon-button-color);
    padding: 15px;
    width: 100%;
    max-width: 500px;
}

.modal-close {
    float: right;
}

/* .modal h1 {
to be determined later
} */

/* .modal p {
to be determined later
} */