:root {
    --background-color: #eb7734;
    --text-color: #0b1b4e;
    --pokemon-button-color: #461fbb;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}   

.page-header {
    color: var(--text-color);
}

.page-header a {
    font-size: 300%;
    margin: 20px;
}

.pokemon-button {
    background-color: var(--pokemon-button-color);
    color: var(--background-color);
    width: 200px;
    padding: 30px;
    margin-bottom: 10px;
    font-size: 150%;
}

#modal-content-container {
    background-color: var(--pokemon-button-color);
    color: var(--background-color);
    text-align: center;
    font-size: 150%;
}

.modal-title {
    font-size: 200%;
}

.close-button {
    background-color: var(--background-color);
    color: var(--text-color);
}